body{
  padding: 25px 25px 25px 25px;
  margin: : 25px 25px 25px 25px;
}

telo {
  flex: 1;
  overflow: visible;
  display: inline-block;
  background-color: lightgray;
  height: 550px;
  width: 1000px;
}


.vnosno {
  float: right;
  right: 150px;
  width: 340px;
  height:250px;
  border: 2px solid black;
   display: inline-block;
   padding-right: 25px;
   margin: 25px;
}

.naslov_vnosa{
  border: 1px solid black;
  width: 338px;
   display: inline-block;
   margin-bottom: 5px;
   padding-right: 25px;
}

.vnosno_polje{
  border: 1px solid black;
  display: inline-block;
  margin-left:15px;
  margin: 5px;
  width: 300px;
  border-radius: 5px;
  
  
}

#potrdi{
  border-radius: 3px;
  padding-right: 30px;
  margin-left: 60px;
}